RANDFILE = .random_number_seed

[ req ]
distinguished_name = req_distinguished_name
prompt = no
encrypt_key = no
x509_extensions = v3_ca

[ req_distinguished_name ]
countryName = US
localityName = Palo Alto
organizationalUnitName = VMware
commonName = VMware
emailAddress = none@vmware.com

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = CA:true
