[Desktop Entry]
Name=Tracker RSS/ATOM Feeds Miner
Comment=Fetch RSS/ATOM feeds
Icon=
Exec=/usr/libexec/tracker-miner-rss
Terminal=false
Type=Application
Categories=Utility;
X-GNOME-Autostart-enabled=false
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-KDE-UniqueApplet=true
NoDisplay=true
OnlyShowIn=GNOME;KDE;XFCE;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=tracker
X-GNOME-Bugzilla-Component=Miners
X-GNOME-Bugzilla-Version=2.3.1
