[Desktop Entry]
Name=Firewall Applet
Comment=Firewall Applet
Icon=firewall-applet
Categories=System;Settings;Security;
Exec=/usr/bin/firewall-applet
Type=Application
StartupNotify=true
Terminal=false
