[Desktop Entry]
Name=Power Manager
Comment=Power management daemon
Icon=mate-power-manager
Exec=mate-power-manager
Terminal=false
Type=Application
Categories=
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-power-manager
X-MATE-Bugzilla-Component=mate-power-manager
X-MATE-Bugzilla-Version=1.23.1
#X-MATE-AutoRestart=true

